* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #eceef8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./assets/view_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 25%;
}

.container h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.weather-container {
  width: 100%;
  background: rgb(65, 121, 238);
  background: linear-gradient(
    45deg,
    rgba(65, 121, 238, 1) 0%,
    rgba(96, 184, 245, 1) 91%,
    rgba(115, 187, 245, 1) 100%
  );
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.search-bar input {
  width: 80%;
  border-radius: 30px;
  padding: 15px;
  border: none;
  font-size: 1rem;
  background-color: #eceef8;
}

.search-bar input:focus {
  outline: none;
}

.search-bar .search-icon {
  width: 50px;
  background-color: #eceef8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-bar .search-icon img {
  height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eceef8;
}

.content img {
  height: 120px;
}

.content p {
  font-size: 2rem;
}

.content span {
  padding: 0.5rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.25rem;
}

.detail-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.detail-info img {
  height: 30px;
}

.percentage,
.speed {
  display: flex;
}

.text {
  color: #eceef8;
  padding-left: 1rem;
}

.error {
  color: #f54040;
  padding: 1rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }

  .container h1 {
    font-size: 3.5rem;
  }
}
